@charset "UTF-8";

h3 {
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 80px auto;
    color: #9a5656;
}

.updateBt{
   width:450px;
   height:200px;
   text-align:center;
   margin:0 auto;
   display:flex;
   flex-direction:column;
   justify-content: center;
}

.subject{
	font-size:25px;
	color:#ff9797;
	text-align: center;
	font-weight: bold;
}

.content{
	text-align:center;
     margin-top: 50px;
}
select{
	font-size:26px;
}
